div.table {
  overflow-x: scroll;
  text-align: left;
}

.table table{
  border-collapse: collapse;
  width: 100%;
}

.table th {
  min-width: 50px;
  padding: 10px 15px;
  border: 1px solid #DDD;
  max-width: 20px;
}


