.cabecalho {
  height: 150px;
  text-align: center;
  background: teal;
}

  @media screen and (max-width: 750px) {
    .cabecalho {
        display: grid;
  }
}

.title {
  padding-top: 20px;
  color: #fff;
}
